.btn {
  // display: flex;
  // flex-direction: row;
  // // align-items: center;
  padding: 10px 16px;
  background: $orange;
  border-radius: 5px;
  border: 1px $orange solid;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  cursor: pointer;

  @include mobile {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 24px;
  }
}

.btn--top40 {
  margin-top: 40px;
}

.btn-submit {
  background-color: transparent;
  color: $white;
}

.search-form__btn,
.search-form__closeBtn,
.icon-arrow-right--btn {
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  background: none
}
