.slider {
  background-color: $light-silver;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  background-color: blueviolet;
}

.swiper-button-prev {
  color: red;
}

.swiper-button-next { color: red; }
