.wrap {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.wrap--row {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;

  @include mobile {
      flex-wrap: wrap;
  }
}

.wrap--column {
  flex-direction: column;
}

.has-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
